{% extends "base.html" %}
{% block content %}
  <article class="container content-section col-md-8">
    <div class="row">
      <h2 class="col-md-8">Big Five Personality Test</h2>
      <p class="text-right col-md-2">Disagree</p>
      <p class="text-right col-md-2">Agree</p>
    </div>
  </article>

  <article class="container content-section col-md-8">

    <div class="row">
      <div class="col-md-8">1) Question One Here</div>
      <div class="col-md-4 ml-auto" style="min-width: 220px;">
        <div class="text-right">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1">
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="2">
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="3">
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="4">
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5" value="5">
          </div>
        </div>
      </div>
    </div>

    <hr></hr>

    <div class="row">
      <div class="col-md-8">1) Question One Here</div>
      <div class="col-md-4 ml-auto" style="min-width: 220px;">
        <div class="text-right">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOption" id="inlineRadio1" value="option1">
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOption" id="inlineRadio2" value="option2">
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOption" id="inlineRadio3" value="option3">
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOption" id="inlineRadio4" value="option4">
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOption" id="inlineRadio5" value="option5">
          </div>
        </div>
      </div>
    </div>

    <hr></hr>

    <div class="container text-center">
      <button class="btn btn-info "type="submit">Finish</button>
    </div>
  </article>
{% endblock %}
