{% load static %}
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="shortcut icon" href="{%  static 'images/favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

    {% if title %}
        <title>Dan's Portfolio - {{ title }}</title>
    {% else %}
        <title>Dan's Portfolio</title>
    {% endif %}
</head>

<body>

  <nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-steel fixed-top shadowed p-3" style="font-size: 14px;">
    <div class="container col-md-12 py-0 my-0">
      <a class="navbar-brand py-0" style="font-size: 18px;" href="{% url 'toHome'%}">My Portfolio</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

          <li class="nav-item">
            <a class="nav-link" href="{% url 'toHome'%}">
              </i> Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'toProjects'%}">
              </i> Projects</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dashboard
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">ML App</a>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'toSurvey'%}">Surveys</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'toUpdates'%}">Updates</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'toAbout' %}">About</a>
          </li>
        </ul>

        <ul class="navbar-nav">
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'toProfile' %}">Profile</a></li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'toLogout' %}">Logout</a></li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'toLogin' %}">Login</a></li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'toRegister' %}">Register</a></li>
          {% endif %}

        </ul>

      </div>
    </div>
  </nav>

    <main role="main" class="container">
      <div class="row">
        <div class="container-fluid">

          <div class="container col-lg-8 alert alert-danger border-0 rounded-0">
            This website is still under construction!
          </div>

          {% if messages %}
            {% for message in messages %}
              <div class="container col-lg-8 alert alert-{{ message.tags }} rounded-0">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}

          {% block content %}{% endblock %}
        </div>
      </div>
    </main>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/jquery-3.2.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="https://kit.fontawesome.com/c99379b996.js" crossorigin="anonymous"></script>
</body>
</html>
